<div class="jumbotron">
  <div class="container">
    <h1>Making repairs like they should in 2016.</h1>
    <p>Third Gen is currently covering all parts of the bay area including San Francisco, east bay, south bay, and peninsula areas. </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Book an appointment today!</a></p>
  </div>
</div>

<div id="brands" class="pages">
  <h1>Brands that we service</h1>
  <p>We service all major and mindor brands. From Haeir to Subzero; take a look at the brands we service</p>
</div>

<div id="Area" class="pages">
  <h1>Our Service Area</h1>
  <p>We currently only service the San Francisco Bay Area</p>
  <p>Our techs service the San Francisco, East Bay, South Bay, and Peninsula areas</p>
</div>
