

<div class="jumbotron-fluid text-left">

<div class="container-fluid jumbotron-pic">
  <a class="btn btn-primary btn-lg" href="/users/sign_in" role="button">CREATE A GREEN INVOICE</a>
</div>
</div>
