@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
	height: 70px;
	background-color: white;
}

body {
  margin-top: 70px;
  h1 {
  	font-size: 22px;
  }
}

.tagline {
	text-align: center;
	padding-top: 50px;
}